
<div>
  <div class="page3 text-center pt-150">
    <h2 class="font-weight-bold pb-3 big">日程調整URL（一か月分）</h2>
    <%= link_to "この文字を右クリック、スマホでは長押ししてコピーし、共有して下さい", userid_path,class: "small" %>
  </div>
</div>