<h1>aaaa</h1>


<% if @flag === 1  %>
　　<%= link_to '結果表示画面へ', allplansum_path %>
<% else %>
  <%= form_with(model: [@allplan,@user], local: true) do |f| %>
  <h4>名前を入力してください</h4>
  <%= f.text_field :username %>
  <p>
    <%= f.submit '次へ' %>
  </p>
　　
<% end %>



  <% end %>
